<div class="row p-3">
  <div class="col-12 col-lg-12">
    <form action="" class="">
      <h1 class="py-3 text-center">Register Here</h1>

      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Firstname</mat-label>
            <input matInput placeholder="firstname" name="firstName" />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Lastname</mat-label>
            <input matInput placeholder="Lastname" name="lastName" />
          </mat-form-field>
        </div>
      </div>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>password</mat-label>
          <input matInput placeholder="***************" name="password" />
        </mat-form-field>
      </p>
      <div class="row">
        <div class="col-6">
          <!-- <div>
              <label id="example-radio-group-label">Gender</label>
            </div>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="gender"
              name="gender"
            >
              <mat-radio-button
                class="example-radio-button"
                *ngFor="let gender of genders"
                [value]="gender"
              >
                {{ gender }}
              </mat-radio-button>
            </mat-radio-group> -->
        </div>
        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Birthdate</mat-label>
            <input
              matInput
              placeholder="birthdate"
              
              name="birthDate"
              [matDatepicker]="picker1"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <textarea
            matInput
            placeholder="100 Main St"
            
            name="address"
          >
Enter your home address</textarea
          >
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>email</mat-label>
          <input matInput placeholder="email" name="email" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Mobile</mat-label>
          <input type="tel" matInput placeholder="mobile" name="mobile" />
        </mat-form-field>
      </p>
      <div class="text-center">
        <button type="submit" class="btn btn-success w-50 p-2">SUBMIT</button>
      </div>
    </form>
  </div>
</div>
