<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="sideBarOpen"
    ><div class="container text-center" *ngIf="user">
      <div class="">
        <img src="{{ imageSource }}" alt="" class="img-fluid" />
      </div>

      <mat-divider></mat-divider>

      <mat-nav-list>
        <a
          mat-list-item
          routerLinkActive=""
          list-item-active
          routerLink="/dashboard"
          class="text-start"
          >Dashboard</a
        >
        <a
          mat-list-item
          routerLinkActive=""
          list-item-active
          routerLink="/dashboard/profile"
          class="text-start"
          >Profile</a
        >
      </mat-nav-list>
    </div></mat-drawer
  >
  <mat-drawer-content>
    <div class="row">
      <mat-toolbar>
        <div class="col-3">
          <button
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon"
            (click)="sideBarTogger()"
          >
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div class="col-9 text-end pe-5">
          <button mat-button [matMenuTriggerFor]="menu" *ngIf="user">
            MR.{{ user.last_name }}
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              SignOut
            </button>
          </mat-menu>
        </div>
      </mat-toolbar>
    </div>
    <router-outlet></router-outlet>
  
  </mat-drawer-content>
</mat-drawer-container>
