<section>
  <div class="container py-5 w-50">
    <div class="card p-3 shadow-lg">
      <div class="row p-3">
        <div class="col-12 col-lg-12 ">
          <form
            [formGroup]="signupForm"
            (ngSubmit)="addUser()"
          >
            <h1 class="py-3 text-center">Register Here</h1>
<!-- <div><input type="file" formControlName="userImage"></div> -->
            <div class="row">
              <div class="col-6">
                <mat-form-field appearance="fill">
                  <mat-label>Firstname</mat-label>
                  <input
                    matInput
                    placeholder="Firstname"
                    formControlName="firstName"
                  />
                  <mat-error
                    *ngIf="
                      signupForm.get('firstName')?.hasError('required') &&
                      signupForm.get('firstName')?.touched
                    "
                  >
                    Firstname is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field appearance="fill">
                  <mat-label>Lastname</mat-label>
                  <input
                    matInput
                    placeholder="Lastname"
                    formControlName="lastName"
                  />
                  <mat-error
                    *ngIf="
                      signupForm.get('lastName')?.hasError('required') &&
                      signupForm.get('lastName')?.touched
                    "
                  >
                    Lastname is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <p>
              <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input
                  type="{{ hidePassword ? 'password' : 'text' }}"
                  matInput
                  placeholder="***************"
                  formControlName="password"
                />
                <mat-icon matSuffix (click)="togglePasswordVisibility()"
                  >visibility</mat-icon
                >
                <mat-error
                  *ngIf="
                    signupForm.get('password')?.hasError('required') &&
                    signupForm.get('password')?.touched
                  "
                >
                  Password is required
                </mat-error>
              </mat-form-field>
            </p>

            <div class="row">
              <div class="col-6">
                <div>
                  <label id="example-radio-group-label">Gender</label>
                </div>
                <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  formControlName="gender"
                >
                  <mat-radio-button
                    class="example-radio-button"
                    *ngFor="let gender of genders"
                    [value]="gender"
                  >
                    {{ gender }}
                  </mat-radio-button>
                </mat-radio-group>
                <mat-error
                  *ngIf="
                    signupForm.get('gender')?.hasError('required') &&
                    signupForm.get('gender')?.touched
                  "
                >
                  Gender is required
                </mat-error>
              </div>
              <div class="col-6">
                <mat-form-field appearance="fill">
                  <mat-label>Birthdate</mat-label>
                  <input
                    matInput
                    placeholder="Birthdate"
                    formControlName="birthDate"
                    [matDatepicker]="picker1"
                  />

                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker1"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  <mat-error
                    *ngIf="
                      signupForm.get('birthDate')?.hasError('required') &&
                      signupForm.get('birthDate')?.touched
                    "
                  >
                    Birthdate is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <p>
              <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <textarea
                  matInput
                  placeholder="100 Main St"
                  formControlName="address"
                ></textarea>
                <mat-error
                  *ngIf="
                    signupForm.get('address')?.hasError('required') &&
                    signupForm.get('address')?.touched
                  "
                >
                  Address is required
                </mat-error>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email" />
                <mat-error *ngIf="signupForm.get('email')?.hasError('required')"
                  >Email is required</mat-error
                >
                <mat-error *ngIf="signupForm.get('email')?.hasError('email')"
                  >Invalid email format</mat-error
                >
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="fill">
                <mat-label>Mobile</mat-label>
                <input
                  type="tel"
                  matInput
                  placeholder="Mobile"
                  formControlName="mobile"
                />
                <mat-error
                  *ngIf="
                    signupForm.get('mobile')?.hasError('required') &&
                    signupForm.get('mobile')?.touched
                  "
                >
                  Mobile is required
                </mat-error>
                <mat-error
                *ngIf="signupForm.get('mobile')?.hasError('pattern')"
                >
                Mobile must be a 10-digit number
                </mat-error>


              </mat-form-field>
            </p>

            <div class="text-center">
              <p>Already have an account <a routerLink="/">Login here</a></p>
              <button
                type="submit"
                [disabled]="signupForm.invalid"
                class="btn btn-success w-50 p-2"
              >
                SUBMIT
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
