<section>
  <div class="container py-5 w-50">
    <div class="card p-3 shadow-lg">
      <div class="row p-3">
        <div class="col-12 col-lg-12 text-center">
          <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h1 class="py-3">User Login</h1>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>email</mat-label>
                <input
                  matInput
                  placeholder="email"
                  formControlName="email"
                  name="email"
                />
                <mat-error *ngIf="loginForm.get('email')?.hasError('required')"
                  >Email is required</mat-error
                >
                <mat-error *ngIf="loginForm.get('email')?.hasError('email')"
                  >Invalid email format</mat-error
                >
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>password</mat-label>
                <input
                  type="{{ hidePassword ? 'password' : 'text' }}"
                  matInput
                  placeholder="***************"
                  formControlName="password"
                  name="password"
                />
                <mat-icon matSuffix (click)="togglePasswordVisibility()"
                  >visibility</mat-icon
                >
                <mat-error
                  *ngIf="loginForm.get('password')?.hasError('required')"
                  >Password is required</mat-error
                >
              </mat-form-field>
            </p>
            <p>
              Don't have an account <a routerLink="/register">Register here</a>
            </p>
            <button
              type="submit"
              [disabled]="loginForm.invalid"
              class="btn btn-success w-50 p-2"
            >
              login
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
